.hidden,
#devbar
{
	display:none;
}

.icon {
	display:inline-block;
	background-repeat:no-repeat;
	background-position:center center;
}

.plain, .plain li {
	margin:0;
	padding:0;
	list-style:none;
}

* { _noFocusLine: expression(this.hideFocus=true); }
::-moz-focus-inner { border:0; }
:focus { outline:none; }
