.hidden {
	display:none;
}

.icon {
	display:inline-block;
	background-repeat:no-repeat;
	background-position:center center;
}

* { _noFocusLine: expression(this.hideFocus=true); }
::-moz-focus-inner { border:0; }
:focus { outline:none; }
