html,
body
{
	background-color:#000;
	font-family:dosis, "Arial", sans-serif;
	font-size:15px;
}

body {
	color:#efefef;
}

form {
	font-size:14px;
}

h1 {
	margin:0 0 15px;
	padding-top:20px;
	padding-bottom:20px;
	background:#630463;
	font-size:24px;
}

h1,
.advice,
footer {
	padding-left:20px;
	padding-right:20px;
}

.advice {
	margin-bottom:15px;
}


h2 {
	font-weight:normal;
}

footer {
	color:#666;
}

p {
	margin:0 0 10px;
}


li.err {
	margin-bottom:5px;
	list-style:square;
	color:#999;
}

li.err_0 { color:#fff; }
li.err_1 { color:#eee; }
li.err_2 { color:#ddd; }
li.err_3 { color:#ddd; }
li.err_4 { color:#ccc; }
li.err_5 { color:#bbb; }
li.err_6 { color:#aaa; }

.err details {
	margin:0;
	padding:0;
	display:block;
}

.err details .cont {
	display:none;
}
