.pwform {
	font-size:13px;
}

.pwform input {
	font-size:11px;
	border:1px solid #999;
	border-radius:3px;
	background:#fff;
	padding:4px 8px;
	height:23px;
}

.pwform .input-container {
	display:inline-block;
	vertical-align:top;
}

.pwform .input {
	padding:0 5px;
}

.pwform .input.button {
	padding:0;
}

.pwform ul, ul.plain{
	list-style:none;
	margin:0;
	padding:0;
}

.pwform ul li label.label-left{ margin-right:7px; }
.pwform .input-checkbox, .pwform .input-radio{margin-right:7px}
.pwform label{cursor:pointer; display:inline-block; vertical-align:top; }
.pwform input.input-checkbox{ margin-left:135px; }
.pwform ul li ul.choice-group li{display:inline-block;width:200px}
.pwform ul li ul.choice-group li label{width:auto;}
.pwform ul li legend, .pwform ul li label{font-weight:bold}
.pwform ul li .input-group label{font-weight:normal; text-align:left}
.pwform ul li .list{display:inline-block;border:1px solid #eaeaea}
.pwform ul li .list a{display:block; padding:4px}
.pwform ul li .list a:hover{ background:#f9f9f9 }
.pwform .inputs{margin:0 0 10px}
.pwform .buttons{margin:15px 0 0}
.pwform button{border:1px solid #ccc; padding:2px 20px; margin:0 10px 0 0;}

.pwform .form-tip{
	display:inline-block;
	margin:0 10px;
}

.pwform .form-subli label{ font-weight:normal }
.pwform ul.form-group-switch>:first-child { display:none }
.pwform .label-multi-checkbox{width:100%}
.pwform .label-right{width:auto}

.pwform .formel-text label{
	cursor:auto;
}
.pwform .formel-text p{
	display:inline-block;
	margin:0 0 0 12px;
	padding:5px 0;
}

.form-group{
	border:1px solid #efefef;
}
.pwform .form-group label{
	font-weight:normal;
	width:112px;
}


.pwform .errors {
	display:inline-block;
	padding:0;
	margin:0;
}

.pwform .errors li {
	padding:0;
	margin:0 10px;
	color:#f00;
}

.pwform .input-label-right {
	font-weight:normal;
}

.pwform .input-left {
	padding-left:138px;
}

.pwform .input-left .input-container {
	width:auto;
}

.pwform .cleaner {
	clear:both;
	display:block;
}


.fp-upload .icon { background-image:url(/share/bower/pwf-input-file/pixmaps/file-upload.png); }
.fp-url-label .icon { background-image:url(/share/bower/pwf-input-file/pixmaps/file-url.png); }
.fp-cancel-label .icon { background-image:url(/share/bower/pwf-input-file/pixmaps/file-back.png); }
.fp-del-label .icon { background-image:url(/share/bower/pwf-input-file/pixmaps/file-delete.png); }
