.yaform {
	border-top:1px solid #985B00;
	padding-top:15px;
}

.yaform fieldset {
	padding:0;
	padding-top:5px;

}

.yaform label {
	width:155px;
}

.yaform ul li label {
	font-weight:normal;
}

.yaform .input-left {
	padding-left:148px;
}

.yaform .input-left .input-container {
	padding:3px 5px 0 0;
}

.yaform .input-left label {
	width:167px;
	padding-top:4px;
}

.yaform .input-info {
	padding:3px 5px 5px 20px;
	color:#999;
	width:340px;
	display:inline-block;
	vertical-align:top;
}

.yaform .inputs .input-right input {
	width:180px;
	background:#efefef;
	border:1px solid #4C0057;
	padding:3px 5px;
	border-radius:3px;
	font-size:12px;
	color:#666;
}

.yaform .inputs .input-right input:hover,
.yaform .inputs .input-right input:focus
{
	color:#000
}

.yaform .form-label label {
	display:block;
	width:300px;
	font-size:140%;
	margin-bottom:15px;
	font-weight:normal;
}

.yaform fieldset {
	border:none;
}

.yaform .select-input {
	vertical-align:top;
}

.yaform .input-container {
	vertical-align:top;
	width:185px;
}

.yaform .errors, .yaform .errors li {
	margin:0;
	padding:0;
	color:#f00;
}

.yaform .errors {
	margin:0 0 10px;
}

.yaform button {
	margin-top:20px;
	border:1px solid #633B00;
	border-radius:3px;
	background:#777;
	padding:5px 20px;
	font-size:125%;
	color:#fff;
}
