.pwform .input-pwf-autocompleter .pwf_autocompleter {
	position:absolute;
	border-radius:3px;
	margin:0;
	padding:0;
	border:1px solid #999;
	box-shadow:0 0 20px rgba(0,0,0,0.25);
	overflow:hidden;
	z-index:1000;
}

.pwform .input-pwf-autocompleter .pwf_autocompleter li {
	list-style:none;
	margin:0;
	padding:5px 15px;
	cursor:pointer;
	text-align:left;
	background:#fff;
	background:rgba(255,255,255,0.8);
	border-bottom:1px solid #efefef;
}

.pwform .input-pwf-autocompleter .pwf_autocompleter li:last-child {
	border:none;
}

.pwform .input-pwf-autocompleter .pwf_autocompleter li:hover {
	background:#800080;
	background:rgba(128,0,128,.8);
	color:#fff;
}
