.input-datetime .widget-tools,
.input-datetime .widget-tools li.form-widget
{
	display:inline-block;
	padding:0;
	margin:0;
}

.input-datetime .widget-tools li.widget-date {
	margin-right:5px;
}

.input-datetime .widget-tools label {
	display:none;
}
