.pwform .tab_group {
	position:relative;
}

.pwform .tab_label {
	cursor:pointer;
	display:inline-block;
	margin:0 1px 0 0;
}

.pwform .tab_label .inner {
	border-radius:4px 4px 0 0;
	padding:6px 10px;
	background:#e0e0e0;
	color:#666;
	border:1px solid #ccc;
	border-bottom:none;
}

.pwform .tab_label.active .inner {
	background:#800080;
	border-color:#AC76AC;
	color:#fff;
}

.pwform .tab_label:hover .inner {
	border-color:#f90;
}

.pwform .tab_labels {

}

.pwform .tab {
	border:1px solid #e0e0e0;
	border-radius:0 0 4px 4px;
	padding:10px;
}

.pwform .tab fieldset {
	border:none;
	margin:0;
	padding:0;
}
