.timepicker .inner {
	border:1px solid #999;
	border-radius:3px;
	background:#fff;
	padding:4px 4px;
	line-height:100%;
}

.timepicker .inner input {
	width:25px;
	height:auto;
	text-align:center;
	border:none;
	background:none;
	padding:0 2px;
	margin:0;
}
