.datepicker .head {
	padding:0;
}

.datepicker .calendar {
	border:1px solid #ccc;
	box-shadow:0 0 10px rgba(0,0,0,0.5);
	background:rgba(0,0,0,0.75);
	border-radius:8px;
	padding:5px;
	position:absolute;
	z-index:10000
}

.datepicker .day {
	display:block;
	width:20px;
	height:20px;
	line-height:20px;
	float:left;
	margin:2px;
	padding:1px 2px;
	text-align:center;
	border-radius:3px;
}

.datepicker .head .day {
	padding:0px 3px;
	color:#ccc;
}

.datepicker .body .day {
	border:1px solid rgba(255,255,255,0.25);
}

.datepicker .day.inactive {
	color:#999
}

.datepicker .day.active {
	color:#fff;
	cursor:pointer;
}

.datepicker .day.active:hover {
	background:rgba(255,255,255,0.25)
}

.datepicker .calendar .week_start {
	clear:left;
}

.datepicker .clear {
	width:20px;
	height:20px;
	background:url(/share/icons/16/pwf/actions/clear) center center no-repeat;
	display:inline-block;
	vertical-align:top;
	margin:0 5px 0 3px;
	cursor:pointer;
}

.datepicker .controls {
	position:relative;
	padding:3px 5px;
	width:100%;
	text-align:center;
	color:#fff;
	background:rgba(255,255,255,.25);
	top:-5px;
	left:-5px;
}

.datepicker .cpp,
.datepicker .cnn,
.datepicker .cp,
.datepicker .cn
{
	position:absolute;
	cursor:pointer;
}

.datepicker .cpp { left:5px }
.datepicker .cnn { right:5px }
.datepicker .cp { left:30px }
.datepicker .cn { right:30px }
