html,
body
{
	background-color:#000;
	font-family:"Droid Sans", "Arial", "Dejavu Sans", sans-serif;
	font-size:15px;
}

body {
	padding:25px;
	color:#efefef;
}

form {
	font-size:14px;
}

h1 {
	margin:0 0 15px;
	font-weight:normal;
}

h2 {
	font-weight:normal;
}

#container,
footer
{
	width:750px;
	margin:0 auto;
}

#container {
	border:1px solid #633B00;
	box-shadow:0 0 50px #4C0057;
	background:#282828;
	padding:30px;
}

footer {
	padding:5px;
	color:#666;
}
