.pwform {
	font-size:13px;
}

.pwform input {
	font-size:11px;
	border:1px solid #999;
	border-radius:3px;
	background:#fff;
	padding:4px 8px;
	height:23px;
}

.pwform .input-container {
	display:inline-block;
	vertical-align:top;
}

.pwform label,
.pwform .input-container,
.pwform .errors
{
	line-height:23px;
}

.pwform .input {
	padding:0 5px;
}

.pwform .input.button {
	padding:0;
}

.pwform ul, ul.plain{
	list-style:none;
	margin:0;
	padding:0;
}

.pwform ul li ul{padding:5px 0 0}
.pwform ul li{margin:5px 0}
.pwform ul li ul li{margin-left:15px}
.pwform ul li ul li label{width:300px;}
.pwform ul li label.label-left{ margin-right:7px; }
.pwform .input-checkbox, .pwform .input-radio{margin-right:7px}
.pwform .input-text, .pwform .input-password, .input-number, .input-email, .input-url, .input-datetime-local{
	width:250px;
}

.pwform .textarea .form-input {
	vertical-align:bottom;
	margin-left:7px;
	width:500px;
	display:inline-block;
}
.pwform .select-input {
	vertical-align:bottom;
	margin-left:0px;
}
.pwform label{cursor:pointer; width:125px; display:inline-block; vertical-align:top; }
.pwform input.input-checkbox{ margin-left:135px; }
.pwform ul li ul.choice-group li{display:inline-block;width:200px}
.pwform ul li ul.choice-group li label{width:auto;}
.pwform ul li legend, .pwform ul li label{font-weight:bold}
.pwform ul li .input-group label{font-weight:normal; text-align:left}
.pwform ul li .list{display:inline-block;border:1px solid #eaeaea}
.pwform ul li .list a{display:block; padding:4px}
.pwform ul li .list a:hover{ background:#f9f9f9 }
.pwform .inputs{margin:0 0 10px}
.pwform .buttons{margin:15px 0 0}
.pwform button{border:1px solid #ccc; padding:2px 20px; margin:0 10px 0 0;}
.pwform ul li.required input[type!='datetime-local']{ background:#fff url(../icons/16/status/warning.png) 99.8% center no-repeat;}
.pwform ul li.required-satisfied input[type!='datetime-local']{ background-image:url(../icons/16/status/good.png);}

.pwform .image-uploader,
.pwform .image-uploader ul,
.pwform .image-uploader li
{ margin:0; padding:0; }

.pwform .image-uploader .thumb,
.pwform .image-uploader .controls { display:inline-block; vertical-align:top; margin-bottom:5px; }
.pwform .image-uploader .thumb { border:1px solid #ccc; margin-right:10px }
.pwform .image-uploader .controls label { margin-bottom:2px }

.pwform .image-uploader .fup-cont, .pwform .input-list-container {
	border:1px solid #e0e0e0;
	padding-left:15px;
	margin:0 0 0 4px;
	padding:10px 15px;
	display:inline-block;
}
.pwform .image-uploader .label-left { vertical-align:top }
.pwform .image-uploader .fup-cont label { width:125px }

.pwform .input-list-container {
	display:inline-block;
	vertical-align:top;
	padding:5px 10px;
	margin:0 0 2px 7px;
}
.pwform .input-list-container a.list-link-add { position:relative; left:-2px }
.pwform li.input-list-editor {
	width:0;
	height:0;
	overflow:visible;
}
.pwform .ilve { display:none; }
.pwform .input-list-content { padding:0 }
.pwform .input-list-content .key { font-weight:bold; }
.pwform .hide-keys .input-list-content .key { display:none }
.hide-keys .key { display:none }


.pwform .form-tip{
	display:inline-block;
	margin:0 10px;
}
.pwform .form-subli label{ font-weight:normal }
.pwform ul.form-group-switch>:first-child { display:none }
.pwform .label-multi-checkbox{width:100%}
.pwform .label-right{width:auto}

.pwform .formel-text label{
	cursor:auto;
}
.pwform .formel-text p{
	display:inline-block;
	margin:0 0 0 12px;
	padding:5px 0;
}

.form-group{
	border:1px solid #efefef;
}
.pwform .form-group label{
	font-weight:normal;
	width:112px;
}


.pwform .errors {
	display:inline-block;
	padding:0;
	margin:0;
}

.pwform .errors li {
	padding:0;
	margin:0 10px;
	color:#f00;
}

.pwform .input-label-right {
	font-weight:normal;
}

.pwform .input-left {
	padding-left:138px;
}

.pwform .input-left .input-container {
	width:auto;
}


.pwform .input-image .input-content .image {
	float:left;
}

.pwform .input-image .widget-tools {
	float:left;
	padding-top:0;
}

.pwform .input-image .widget-tools li {
	margin-top:0;
	margin-left:0;
}

.pwform .input-image .widget-tools .form-widget {
	display:inline-block;
	vertical-align:top;
	border:1px solid rgba(0,0,0,0.05);
	background:rgba(0,0,0,0.025);
	padding:5px 10px;
}

.pwform .input-image .widget-tools label.input-label-left {
	width:auto;
	margin-right:5px;
}

.pwform .input-image .widget-tools .options,
.pwform .input-image .widget-tools .options li
{
	vertical-align:top;
	display:inline-block;
	margin-top:0;
	margin-bottom:0;
	padding:0;
}

.pwform .input-image .im-options .options li {
	display:block;
}

.pwform .input-image .im-options label { width:auto; margin-right:5px; }
.pwform .input-image .im-options .options label { width:auto; vertical-align:top; margin-right:0; }
.pwform .input-image .im-options .options input { vertical-align:middle; }

.pwform .input-image a {
	display:inline-block;
}

.pwform .widget-action label { display:none; }
.pwform .widget-action .options li {
	padding:0;
	margin:0 10px 0 0;
}

.pwform .widget-action .options li:last-child { margin:0; }

.pwform .widget-action .options label {
	display:inline-block;
	width:auto;
}


.pwform .input-image img {
	margin:0 8px 0 0;
	vertical-align:top;
	display:block;
	border:1px solid rgba(0,0,0,0.05);
}

.pwform .input-image .input { margin:5px; }



.pwform .cleaner {
	clear:both;
	display:block;
}

